* { margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    box-sizing: border-box;
}

body {background-color: darkgray}

#wrapper{
    max-width: 1000px;
    margin: 0 auto;
    background-color: gray
}

header img {
    width: 100%;
    display: block;
}

nav {
    background-color: goldenrod;   
}

a.menu {
    display: inline-block;
    width: 25%;
    padding: 15px 30px;
    color: gainsboro;
    text-decoration: none;
    text-align: center;
}
a.menu:hover {
    background-color: darkgoldenrod;
}

article {
    margin-top: 30px;
    margin-bottom: 30px;
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 3px solid black;
    color: gainsboro;
}
img.left{
    float: left;
    padding-right: 10px;
    width: 25%;
    border-radius: 5% 5% 40% 60%;
}

article p {
    text-align: justify;
    line-height: 30px;
    font-size: 25px;
    padding: 5px 10px 5px 0;
    color: gainsboro
}

iframe {
    width: 100%;
    border-radius: 5%;
}

footer {
    height: 40px;
    color: lightgray;
    text-align: center;
    margin-top: 10px;
}

img.time {
    margin: auto;
    width: 80%;
    display: block;  
}
a.kont{
    margin:auto;
    display: block;
    text-align: center;
    color: dimgray;
    font-family:fantasy;
    font-size: 25px;
    text-decoration: none;
}
a.link{
    color:gainsboro;
    font-size: 13px;
    text-decoration: none;
    font-family: serif;
}
table.tabela{
    border-collapse: collapse;
    margin: 10px auto;
    background-color: goldenrod;
}
th, td{
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}
tr.a{
    background-color: darkgray
}
tr.b{
    background-color: lightgray
}
.gallery {
  display: flex;
  overflow-x: auto;   
  gap: 10px;    
  padding: 10px;
  border: 1px solid;
}

.gallery img {
  max-height: 350px;
  flex-shrink: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}
.gallery img:hover {
  transform: scale(1.05); 
}
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.lightbox:target {
  display: flex;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  text-decoration: none;
}